{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://api.postmarkapp.com/"
        }
    ],
    "info": {
        "description": "Postmark makes sending and receiving email\nincredibly easy. The Account-level API allows users to\nconfigure all Servers, Domains, and Sender Signatures associated\nwith an Account.\n",
        "title": "Postmark Account-level",
        "version": "0.9.0",
        "x-apisguru-categories": [
            "email"
        ],
        "x-logo": {
            "url": "https://api.apis.guru/v2/cache/logo/https_pbs.twimg.com_profile_images_879295889185157120_ZYlwxzeY_400x400.jpg"
        },
        "x-origin": [
            {
                "format": "swagger",
                "url": "https://postmarkapp.com/swagger/account.yml",
                "version": "2.0"
            }
        ],
        "x-preferred": true,
        "x-providerName": "postmarkapp.com",
        "x-serviceName": "account"
    },
    "paths": {
        "/domains": {
            "get": {
                "operationId": "listDomains",
                "parameters": [
                    {
                        "description": "The token associated with the Account on which this request will operate.",
                        "in": "header",
                        "name": "X-Postmark-Account-Token",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Number of records to return per request. Max 500.",
                        "in": "query",
                        "name": "count",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 500
                        }
                    },
                    {
                        "description": "Number of records to skip",
                        "in": "query",
                        "name": "offset",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "minimum": 0
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "",
                                    "properties": {
                                        "Domains": {
                                            "items": {
                                                "description": "",
                                                "properties": {
                                                    "DKIMVerified": {
                                                        "type": "boolean"
                                                    },
                                                    "ID": {
                                                        "format": "int64",
                                                        "type": "integer"
                                                    },
                                                    "Name": {
                                                        "type": "string"
                                                    },
                                                    "ReturnPathDomainVerified": {
                                                        "type": "boolean"
                                                    },
                                                    "SPFVerified": {
                                                        "type": "boolean"
                                                    },
                                                    "WeakDKIM": {
                                                        "type": "boolean"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "TotalCount": {
                                            "type": "integer"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "An error was generated due to incorrect use of the API. See the Message associated with this response for more information.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "A Postmark API error.",
                                    "properties": {
                                        "ErrorCode": {
                                            "type": "integer"
                                        },
                                        "Message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Indicates an internal server error occurred."
                    }
                },
                "summary": "List Domains",
                "tags": [
                    "Domains API"
                ]
            },
            "post": {
                "operationId": "createDomain",
                "parameters": [
                    {
                        "description": "The token associated with the Account on which this request will operate.",
                        "in": "header",
                        "name": "X-Postmark-Account-Token",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "",
                                    "properties": {
                                        "DKIMHost": {
                                            "type": "string"
                                        },
                                        "DKIMPendingHost": {
                                            "type": "string"
                                        },
                                        "DKIMPendingTextValue": {
                                            "type": "string"
                                        },
                                        "DKIMRevokedHost": {
                                            "type": "string"
                                        },
                                        "DKIMRevokedTextValue": {
                                            "type": "string"
                                        },
                                        "DKIMTestValue": {
                                            "type": "string"
                                        },
                                        "DKIMUpdateStatus": {
                                            "type": "string"
                                        },
                                        "DKIMVerified": {
                                            "type": "boolean"
                                        },
                                        "ID": {
                                            "format": "int64",
                                            "type": "integer"
                                        },
                                        "Name": {
                                            "type": "string"
                                        },
                                        "ReturnPathDomain": {
                                            "type": "string"
                                        },
                                        "ReturnPathDomainCNAMEValue": {
                                            "type": "string"
                                        },
                                        "ReturnPathDomainVerified": {
                                            "type": "boolean"
                                        },
                                        "SPFHost": {
                                            "type": "string"
                                        },
                                        "SPFTextValue": {
                                            "type": "string"
                                        },
                                        "SPFVerified": {
                                            "type": "boolean"
                                        },
                                        "SafeToRemoveRevokedKeyFromDNS": {
                                            "type": "boolean"
                                        },
                                        "WeakDKIM": {
                                            "type": "boolean"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "An error was generated due to incorrect use of the API. See the Message associated with this response for more information.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "A Postmark API error.",
                                    "properties": {
                                        "ErrorCode": {
                                            "type": "integer"
                                        },
                                        "Message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Indicates an internal server error occurred."
                    }
                },
                "summary": "Create a Domain",
                "tags": [
                    "Domains API"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "",
                                "properties": {
                                    "Name": {
                                        "type": "string"
                                    },
                                    "ReturnPathDomain": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                }
            }
        },
        "/domains/{domainid}": {
            "delete": {
                "operationId": "deleteDomain",
                "parameters": [
                    {
                        "description": "The token associated with the Account on which this request will operate.",
                        "in": "header",
                        "name": "X-Postmark-Account-Token",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The ID for the Domain that should be deleted by the request.",
                        "in": "path",
                        "name": "domainid",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "A Postmark API error.",
                                    "properties": {
                                        "ErrorCode": {
                                            "type": "integer"
                                        },
                                        "Message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "An error was generated due to incorrect use of the API. See the Message associated with this response for more information.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "A Postmark API error.",
                                    "properties": {
                                        "ErrorCode": {
                                            "type": "integer"
                                        },
                                        "Message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Indicates an internal server error occurred."
                    }
                },
                "summary": "Delete a Domain",
                "tags": [
                    "Domains API"
                ]
            },
            "get": {
                "operationId": "getDomain",
                "parameters": [
                    {
                        "description": "The token associated with the Account on which this request will operate.",
                        "in": "header",
                        "name": "X-Postmark-Account-Token",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The ID for the Domain that should be retrieved.",
                        "in": "path",
                        "name": "domainid",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "",
                                    "properties": {
                                        "DKIMHost": {
                                            "type": "string"
                                        },
                                        "DKIMPendingHost": {
                                            "type": "string"
                                        },
                                        "DKIMPendingTextValue": {
                                            "type": "string"
                                        },
                                        "DKIMRevokedHost": {
                                            "type": "string"
                                        },
                                        "DKIMRevokedTextValue": {
                                            "type": "string"
                                        },
                                        "DKIMTestValue": {
                                            "type": "string"
                                        },
                                        "DKIMUpdateStatus": {
                                            "type": "string"
                                        },
                                        "DKIMVerified": {
                                            "type": "boolean"
                                        },
                                        "ID": {
                                            "format": "int64",
                                            "type": "integer"
                                        },
                                        "Name": {
                                            "type": "string"
                                        },
                                        "ReturnPathDomain": {
                                            "type": "string"
                                        },
                                        "ReturnPathDomainCNAMEValue": {
                                            "type": "string"
                                        },
                                        "ReturnPathDomainVerified": {
                                            "type": "boolean"
                                        },
                                        "SPFHost": {
                                            "type": "string"
                                        },
                                        "SPFTextValue": {
                                            "type": "string"
                                        },
                                        "SPFVerified": {
                                            "type": "boolean"
                                        },
                                        "SafeToRemoveRevokedKeyFromDNS": {
                                            "type": "boolean"
                                        },
                                        "WeakDKIM": {
                                            "type": "boolean"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "An error was generated due to incorrect use of the API. See the Message associated with this response for more information.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "A Postmark API error.",
                                    "properties": {
                                        "ErrorCode": {
                                            "type": "integer"
                                        },
                                        "Message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Indicates an internal server error occurred."
                    }
                },
                "summary": "Get a Domain",
                "tags": [
                    "Domains API"
                ]
            },
            "put": {
                "operationId": "editDomain",
                "parameters": [
                    {
                        "description": "The token associated with the Account on which this request will operate.",
                        "in": "header",
                        "name": "X-Postmark-Account-Token",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The ID for the Domain that should be modified by the request.",
                        "in": "path",
                        "name": "domainid",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "",
                                    "properties": {
                                        "DKIMHost": {
                                            "type": "string"
                                        },
                                        "DKIMPendingHost": {
                                            "type": "string"
                                        },
                                        "DKIMPendingTextValue": {
                                            "type": "string"
                                        },
                                        "DKIMRevokedHost": {
                                            "type": "string"
                                        },
                                        "DKIMRevokedTextValue": {
                                            "type": "string"
                                        },
                                        "DKIMTestValue": {
                                            "type": "string"
                                        },
                                        "DKIMUpdateStatus": {
                                            "type": "string"
                                        },
                                        "DKIMVerified": {
                                            "type": "boolean"
                                        },
                                        "ID": {
                                            "format": "int64",
                                            "type": "integer"
                                        },
                                        "Name": {
                                            "type": "string"
                                        },
                                        "ReturnPathDomain": {
                                            "type": "string"
                                        },
                                        "ReturnPathDomainCNAMEValue": {
                                            "type": "string"
                                        },
                                        "ReturnPathDomainVerified": {
                                            "type": "boolean"
                                        },
                                        "SPFHost": {
                                            "type": "string"
                                        },
                                        "SPFTextValue": {
                                            "type": "string"
                                        },
                                        "SPFVerified": {
                                            "type": "boolean"
                                        },
                                        "SafeToRemoveRevokedKeyFromDNS": {
                                            "type": "boolean"
                                        },
                                        "WeakDKIM": {
                                            "type": "boolean"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "An error was generated due to incorrect use of the API. See the Message associated with this response for more information.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "A Postmark API error.",
                                    "properties": {
                                        "ErrorCode": {
                                            "type": "integer"
                                        },
                                        "Message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Indicates an internal server error occurred."
                    }
                },
                "summary": "Update a Domain",
                "tags": [
                    "Domains API"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "",
                                "properties": {
                                    "ReturnPathDomain": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                }
            }
        },
        "/domains/{domainid}/rotatedkim": {
            "post": {
                "description": "Creates a new DKIM key to replace your current key. Until the DNS entries are confirmed,\nthe new values will be in the `DKIMPendingHost` and `DKIMPendingTextValue` fields.\nAfter the new DKIM value is verified in DNS, the pending values will migrate to\n`DKIMTextValue` and `DKIMPendingTextValue` and Postmark will begin to sign emails\nwith the new DKIM key.\n",
                "operationId": "rotateDKIMKeyForDomain",
                "parameters": [
                    {
                        "description": "The token associated with the Account on which this request will operate.",
                        "in": "header",
                        "name": "X-Postmark-Account-Token",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The ID for the Sender Signature for which a new DKIM Key should be generated.",
                        "in": "path",
                        "name": "domainid",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "",
                                    "properties": {
                                        "DKIMHost": {
                                            "type": "string"
                                        },
                                        "DKIMPendingHost": {
                                            "type": "string"
                                        },
                                        "DKIMPendingTextValue": {
                                            "type": "string"
                                        },
                                        "DKIMRevokedHost": {
                                            "type": "string"
                                        },
                                        "DKIMRevokedTextValue": {
                                            "type": "string"
                                        },
                                        "DKIMTestValue": {
                                            "type": "string"
                                        },
                                        "DKIMUpdateStatus": {
                                            "type": "string"
                                        },
                                        "DKIMVerified": {
                                            "type": "boolean"
                                        },
                                        "ID": {
                                            "format": "int64",
                                            "type": "integer"
                                        },
                                        "Name": {
                                            "type": "string"
                                        },
                                        "SafeToRemoveRevokedKeyFromDNS": {
                                            "type": "boolean"
                                        },
                                        "WeakDKIM": {
                                            "type": "boolean"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "An error was generated due to incorrect use of the API. See the Message associated with this response for more information.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "A Postmark API error.",
                                    "properties": {
                                        "ErrorCode": {
                                            "type": "integer"
                                        },
                                        "Message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Indicates an internal server error occurred."
                    }
                },
                "summary": "Rotate DKIM Key",
                "tags": [
                    "Domains API"
                ]
            }
        },
        "/domains/{domainid}/verifydkim": {
            "put": {
                "operationId": "requestDkimVerificationForDomain",
                "parameters": [
                    {
                        "description": "The token associated with the Account on which this request will operate.",
                        "in": "header",
                        "name": "X-Postmark-Account-Token",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The ID for the Domain for which DKIM DNS records should be verified.",
                        "in": "path",
                        "name": "domainid",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "",
                                    "properties": {
                                        "DKIMHost": {
                                            "type": "string"
                                        },
                                        "DKIMPendingHost": {
                                            "type": "string"
                                        },
                                        "DKIMPendingTextValue": {
                                            "type": "string"
                                        },
                                        "DKIMRevokedHost": {
                                            "type": "string"
                                        },
                                        "DKIMRevokedTextValue": {
                                            "type": "string"
                                        },
                                        "DKIMTestValue": {
                                            "type": "string"
                                        },
                                        "DKIMUpdateStatus": {
                                            "type": "string"
                                        },
                                        "DKIMVerified": {
                                            "type": "boolean"
                                        },
                                        "ID": {
                                            "format": "int64",
                                            "type": "integer"
                                        },
                                        "Name": {
                                            "type": "string"
                                        },
                                        "ReturnPathDomain": {
                                            "type": "string"
                                        },
                                        "ReturnPathDomainCNAMEValue": {
                                            "type": "string"
                                        },
                                        "ReturnPathDomainVerified": {
                                            "type": "boolean"
                                        },
                                        "SPFHost": {
                                            "type": "string"
                                        },
                                        "SPFTextValue": {
                                            "type": "string"
                                        },
                                        "SPFVerified": {
                                            "type": "boolean"
                                        },
                                        "SafeToRemoveRevokedKeyFromDNS": {
                                            "type": "boolean"
                                        },
                                        "WeakDKIM": {
                                            "type": "boolean"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "An error was generated due to incorrect use of the API. See the Message associated with this response for more information.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "A Postmark API error.",
                                    "properties": {
                                        "ErrorCode": {
                                            "type": "integer"
                                        },
                                        "Message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Indicates an internal server error occurred."
                    }
                },
                "summary": "Request DNS Verification for DKIM",
                "tags": [
                    "Domains API"
                ]
            }
        },
        "/domains/{domainid}/verifyreturnpath": {
            "put": {
                "operationId": "requestReturnPathVerificationForDomain",
                "parameters": [
                    {
                        "description": "The token associated with the Account on which this request will operate.",
                        "in": "header",
                        "name": "X-Postmark-Account-Token",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The ID for the Domain for which Return-Path DNS records should be verified.",
                        "in": "path",
                        "name": "domainid",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "",
                                    "properties": {
                                        "DKIMHost": {
                                            "type": "string"
                                        },
                                        "DKIMPendingHost": {
                                            "type": "string"
                                        },
                                        "DKIMPendingTextValue": {
                                            "type": "string"
                                        },
                                        "DKIMRevokedHost": {
                                            "type": "string"
                                        },
                                        "DKIMRevokedTextValue": {
                                            "type": "string"
                                        },
                                        "DKIMTestValue": {
                                            "type": "string"
                                        },
                                        "DKIMUpdateStatus": {
                                            "type": "string"
                                        },
                                        "DKIMVerified": {
                                            "type": "boolean"
                                        },
                                        "ID": {
                                            "format": "int64",
                                            "type": "integer"
                                        },
                                        "Name": {
                                            "type": "string"
                                        },
                                        "ReturnPathDomain": {
                                            "type": "string"
                                        },
                                        "ReturnPathDomainCNAMEValue": {
                                            "type": "string"
                                        },
                                        "ReturnPathDomainVerified": {
                                            "type": "boolean"
                                        },
                                        "SPFHost": {
                                            "type": "string"
                                        },
                                        "SPFTextValue": {
                                            "type": "string"
                                        },
                                        "SPFVerified": {
                                            "type": "boolean"
                                        },
                                        "SafeToRemoveRevokedKeyFromDNS": {
                                            "type": "boolean"
                                        },
                                        "WeakDKIM": {
                                            "type": "boolean"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "An error was generated due to incorrect use of the API. See the Message associated with this response for more information.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "A Postmark API error.",
                                    "properties": {
                                        "ErrorCode": {
                                            "type": "integer"
                                        },
                                        "Message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Indicates an internal server error occurred."
                    }
                },
                "summary": "Request DNS Verification for Return-Path",
                "tags": [
                    "Domains API"
                ]
            }
        },
        "/domains/{domainid}/verifyspf": {
            "post": {
                "operationId": "requestSPFVerificationForDomain",
                "parameters": [
                    {
                        "description": "The token associated with the Account on which this request will operate.",
                        "in": "header",
                        "name": "X-Postmark-Account-Token",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The ID for the Domain for which SPF DNS records should be verified.",
                        "in": "path",
                        "name": "domainid",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "",
                                    "properties": {
                                        "SPFHost": {
                                            "type": "string"
                                        },
                                        "SPFTextValue": {
                                            "type": "string"
                                        },
                                        "SPFVerified": {
                                            "type": "boolean"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "An error was generated due to incorrect use of the API. See the Message associated with this response for more information.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "A Postmark API error.",
                                    "properties": {
                                        "ErrorCode": {
                                            "type": "integer"
                                        },
                                        "Message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Indicates an internal server error occurred."
                    }
                },
                "summary": "Request DNS Verification for SPF",
                "tags": [
                    "Domains API"
                ]
            }
        },
        "/senders": {
            "get": {
                "operationId": "listSenderSignatures",
                "parameters": [
                    {
                        "description": "The token associated with the Account on which this request will operate.",
                        "in": "header",
                        "name": "X-Postmark-Account-Token",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Number of records to return per request. Max 500.",
                        "in": "query",
                        "name": "count",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 500
                        }
                    },
                    {
                        "description": "Number of records to skip",
                        "in": "query",
                        "name": "offset",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "minimum": 0
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "",
                                    "properties": {
                                        "SenderSignatures": {
                                            "items": {
                                                "description": "",
                                                "properties": {
                                                    "Confirmed": {
                                                        "type": "boolean"
                                                    },
                                                    "Domain": {
                                                        "type": "string"
                                                    },
                                                    "EmailAddress": {
                                                        "format": "email",
                                                        "type": "string"
                                                    },
                                                    "ID": {
                                                        "format": "int64",
                                                        "type": "integer"
                                                    },
                                                    "Name": {
                                                        "type": "string"
                                                    },
                                                    "ReplyToEmailAddress": {
                                                        "format": "email",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "TotalCount": {
                                            "type": "integer"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "An error was generated due to incorrect use of the API. See the Message associated with this response for more information.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "A Postmark API error.",
                                    "properties": {
                                        "ErrorCode": {
                                            "type": "integer"
                                        },
                                        "Message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Indicates an internal server error occurred."
                    }
                },
                "summary": "List Sender Signatures",
                "tags": [
                    "Sender Signatures API"
                ]
            },
            "post": {
                "operationId": "createSenderSignature",
                "parameters": [
                    {
                        "description": "The token associated with the Account on which this request will operate.",
                        "in": "header",
                        "name": "X-Postmark-Account-Token",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "",
                                    "properties": {
                                        "Confirmed": {
                                            "type": "boolean"
                                        },
                                        "DKIMHost": {
                                            "type": "string"
                                        },
                                        "DKIMPendingHost": {
                                            "type": "string"
                                        },
                                        "DKIMPendingTextValue": {
                                            "type": "string"
                                        },
                                        "DKIMRevokedHost": {
                                            "type": "string"
                                        },
                                        "DKIMRevokedTextValue": {
                                            "type": "string"
                                        },
                                        "DKIMTestValue": {
                                            "type": "string"
                                        },
                                        "DKIMUpdateStatus": {
                                            "type": "string"
                                        },
                                        "DKIMVerified": {
                                            "type": "boolean"
                                        },
                                        "Domain": {
                                            "type": "string"
                                        },
                                        "EmailAddress": {
                                            "format": "email",
                                            "type": "string"
                                        },
                                        "ID": {
                                            "format": "int64",
                                            "type": "integer"
                                        },
                                        "Name": {
                                            "type": "string"
                                        },
                                        "ReplyToEmailAddress": {
                                            "format": "email",
                                            "type": "string"
                                        },
                                        "ReturnPathDomain": {
                                            "type": "string"
                                        },
                                        "ReturnPathDomainCNAMEValue": {
                                            "type": "string"
                                        },
                                        "ReturnPathDomainVerified": {
                                            "type": "boolean"
                                        },
                                        "SPFHost": {
                                            "type": "string"
                                        },
                                        "SPFTextValue": {
                                            "type": "string"
                                        },
                                        "SPFVerified": {
                                            "type": "boolean"
                                        },
                                        "SafeToRemoveRevokedKeyFromDNS": {
                                            "type": "boolean"
                                        },
                                        "WeakDKIM": {
                                            "type": "boolean"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "An error was generated due to incorrect use of the API. See the Message associated with this response for more information.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "A Postmark API error.",
                                    "properties": {
                                        "ErrorCode": {
                                            "type": "integer"
                                        },
                                        "Message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Indicates an internal server error occurred."
                    }
                },
                "summary": "Create a Sender Signature",
                "tags": [
                    "Sender Signatures API"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "",
                                "properties": {
                                    "FromEmail": {
                                        "format": "email",
                                        "type": "string"
                                    },
                                    "Name": {
                                        "type": "string"
                                    },
                                    "ReplyToEmail": {
                                        "format": "email",
                                        "type": "string"
                                    },
                                    "ReturnPathDomain": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                }
            }
        },
        "/senders/{signatureid}": {
            "delete": {
                "operationId": "deleteSenderSignature",
                "parameters": [
                    {
                        "description": "The token associated with the Account on which this request will operate.",
                        "in": "header",
                        "name": "X-Postmark-Account-Token",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The ID for the Sender Signature that should be deleted by the request.",
                        "in": "path",
                        "name": "signatureid",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "A Postmark API error.",
                                    "properties": {
                                        "ErrorCode": {
                                            "type": "integer"
                                        },
                                        "Message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "An error was generated due to incorrect use of the API. See the Message associated with this response for more information.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "A Postmark API error.",
                                    "properties": {
                                        "ErrorCode": {
                                            "type": "integer"
                                        },
                                        "Message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Indicates an internal server error occurred."
                    }
                },
                "summary": "Delete a Sender Signature",
                "tags": [
                    "Sender Signatures API"
                ]
            },
            "get": {
                "operationId": "getSenderSignature",
                "parameters": [
                    {
                        "description": "The token associated with the Account on which this request will operate.",
                        "in": "header",
                        "name": "X-Postmark-Account-Token",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The ID for the Sender Signature that should be retrieved.",
                        "in": "path",
                        "name": "signatureid",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "",
                                    "properties": {
                                        "Confirmed": {
                                            "type": "boolean"
                                        },
                                        "DKIMHost": {
                                            "type": "string"
                                        },
                                        "DKIMPendingHost": {
                                            "type": "string"
                                        },
                                        "DKIMPendingTextValue": {
                                            "type": "string"
                                        },
                                        "DKIMRevokedHost": {
                                            "type": "string"
                                        },
                                        "DKIMRevokedTextValue": {
                                            "type": "string"
                                        },
                                        "DKIMTestValue": {
                                            "type": "string"
                                        },
                                        "DKIMUpdateStatus": {
                                            "type": "string"
                                        },
                                        "DKIMVerified": {
                                            "type": "boolean"
                                        },
                                        "Domain": {
                                            "type": "string"
                                        },
                                        "EmailAddress": {
                                            "format": "email",
                                            "type": "string"
                                        },
                                        "ID": {
                                            "format": "int64",
                                            "type": "integer"
                                        },
                                        "Name": {
                                            "type": "string"
                                        },
                                        "ReplyToEmailAddress": {
                                            "format": "email",
                                            "type": "string"
                                        },
                                        "ReturnPathDomain": {
                                            "type": "string"
                                        },
                                        "ReturnPathDomainCNAMEValue": {
                                            "type": "string"
                                        },
                                        "ReturnPathDomainVerified": {
                                            "type": "boolean"
                                        },
                                        "SPFHost": {
                                            "type": "string"
                                        },
                                        "SPFTextValue": {
                                            "type": "string"
                                        },
                                        "SPFVerified": {
                                            "type": "boolean"
                                        },
                                        "SafeToRemoveRevokedKeyFromDNS": {
                                            "type": "boolean"
                                        },
                                        "WeakDKIM": {
                                            "type": "boolean"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "An error was generated due to incorrect use of the API. See the Message associated with this response for more information.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "A Postmark API error.",
                                    "properties": {
                                        "ErrorCode": {
                                            "type": "integer"
                                        },
                                        "Message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Indicates an internal server error occurred."
                    }
                },
                "summary": "Get a Sender Signature",
                "tags": [
                    "Sender Signatures API"
                ]
            },
            "put": {
                "operationId": "editSenderSignature",
                "parameters": [
                    {
                        "description": "The token associated with the Account on which this request will operate.",
                        "in": "header",
                        "name": "X-Postmark-Account-Token",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The ID for the Sender Signature that should be modified by the request.",
                        "in": "path",
                        "name": "signatureid",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "",
                                    "properties": {
                                        "Confirmed": {
                                            "type": "boolean"
                                        },
                                        "DKIMHost": {
                                            "type": "string"
                                        },
                                        "DKIMPendingHost": {
                                            "type": "string"
                                        },
                                        "DKIMPendingTextValue": {
                                            "type": "string"
                                        },
                                        "DKIMRevokedHost": {
                                            "type": "string"
                                        },
                                        "DKIMRevokedTextValue": {
                                            "type": "string"
                                        },
                                        "DKIMTestValue": {
                                            "type": "string"
                                        },
                                        "DKIMUpdateStatus": {
                                            "type": "string"
                                        },
                                        "DKIMVerified": {
                                            "type": "boolean"
                                        },
                                        "Domain": {
                                            "type": "string"
                                        },
                                        "EmailAddress": {
                                            "format": "email",
                                            "type": "string"
                                        },
                                        "ID": {
                                            "format": "int64",
                                            "type": "integer"
                                        },
                                        "Name": {
                                            "type": "string"
                                        },
                                        "ReplyToEmailAddress": {
                                            "format": "email",
                                            "type": "string"
                                        },
                                        "ReturnPathDomain": {
                                            "type": "string"
                                        },
                                        "ReturnPathDomainCNAMEValue": {
                                            "type": "string"
                                        },
                                        "ReturnPathDomainVerified": {
                                            "type": "boolean"
                                        },
                                        "SPFHost": {
                                            "type": "string"
                                        },
                                        "SPFTextValue": {
                                            "type": "string"
                                        },
                                        "SPFVerified": {
                                            "type": "boolean"
                                        },
                                        "SafeToRemoveRevokedKeyFromDNS": {
                                            "type": "boolean"
                                        },
                                        "WeakDKIM": {
                                            "type": "boolean"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "An error was generated due to incorrect use of the API. See the Message associated with this response for more information.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "A Postmark API error.",
                                    "properties": {
                                        "ErrorCode": {
                                            "type": "integer"
                                        },
                                        "Message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Indicates an internal server error occurred."
                    }
                },
                "summary": "Update a Sender Signature",
                "tags": [
                    "Sender Signatures API"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "",
                                "properties": {
                                    "Name": {
                                        "type": "string"
                                    },
                                    "ReplyToEmail": {
                                        "format": "email",
                                        "type": "string"
                                    },
                                    "ReturnPathDomain": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                }
            }
        },
        "/senders/{signatureid}/requestnewdkim": {
            "post": {
                "description": "Requests a new DKIM key to be created. Until the DNS entries are confirmed,\nthe new values will be in the `DKIMPendingHost` and `DKIMPendingTextValue` fields.\nAfter the new DKIM value is verified in DNS, the pending values will migrate to\n`DKIMTextValue` and `DKIMPendingTextValue` and Postmark will begin to sign emails\nwith the new DKIM key.\n",
                "operationId": "requestNewDKIMKeyForSenderSignature",
                "parameters": [
                    {
                        "description": "The token associated with the Account on which this request will operate.",
                        "in": "header",
                        "name": "X-Postmark-Account-Token",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The ID for the Sender Signature for which a new DKIM Key should be generated.",
                        "in": "path",
                        "name": "signatureid",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "A Postmark API error.",
                                    "properties": {
                                        "ErrorCode": {
                                            "type": "integer"
                                        },
                                        "Message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "An error was generated due to incorrect use of the API. See the Message associated with this response for more information.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "A Postmark API error.",
                                    "properties": {
                                        "ErrorCode": {
                                            "type": "integer"
                                        },
                                        "Message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Indicates an internal server error occurred."
                    }
                },
                "summary": "Request a new DKIM Key",
                "tags": [
                    "Sender Signatures API"
                ]
            }
        },
        "/senders/{signatureid}/resend": {
            "post": {
                "operationId": "resendSenderSignatureConfirmationEmail",
                "parameters": [
                    {
                        "description": "The token associated with the Account on which this request will operate.",
                        "in": "header",
                        "name": "X-Postmark-Account-Token",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The ID for the Sender Signature that should have its confirmation email resent.",
                        "in": "path",
                        "name": "signatureid",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "A Postmark API error.",
                                    "properties": {
                                        "ErrorCode": {
                                            "type": "integer"
                                        },
                                        "Message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "An error was generated due to incorrect use of the API. See the Message associated with this response for more information.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "A Postmark API error.",
                                    "properties": {
                                        "ErrorCode": {
                                            "type": "integer"
                                        },
                                        "Message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Indicates an internal server error occurred."
                    }
                },
                "summary": "Resend Signature Confirmation Email",
                "tags": [
                    "Sender Signatures API"
                ]
            }
        },
        "/senders/{signatureid}/verifyspf": {
            "post": {
                "operationId": "requestSPFVerificationForSenderSignature",
                "parameters": [
                    {
                        "description": "The token associated with the Account on which this request will operate.",
                        "in": "header",
                        "name": "X-Postmark-Account-Token",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The ID for the Sender Signature for which SPF DNS records should be verified.",
                        "in": "path",
                        "name": "signatureid",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "",
                                    "properties": {
                                        "Confirmed": {
                                            "type": "boolean"
                                        },
                                        "DKIMHost": {
                                            "type": "string"
                                        },
                                        "DKIMPendingHost": {
                                            "type": "string"
                                        },
                                        "DKIMPendingTextValue": {
                                            "type": "string"
                                        },
                                        "DKIMRevokedHost": {
                                            "type": "string"
                                        },
                                        "DKIMRevokedTextValue": {
                                            "type": "string"
                                        },
                                        "DKIMTestValue": {
                                            "type": "string"
                                        },
                                        "DKIMUpdateStatus": {
                                            "type": "string"
                                        },
                                        "DKIMVerified": {
                                            "type": "boolean"
                                        },
                                        "Domain": {
                                            "type": "string"
                                        },
                                        "EmailAddress": {
                                            "format": "email",
                                            "type": "string"
                                        },
                                        "ID": {
                                            "format": "int64",
                                            "type": "integer"
                                        },
                                        "Name": {
                                            "type": "string"
                                        },
                                        "ReplyToEmailAddress": {
                                            "format": "email",
                                            "type": "string"
                                        },
                                        "ReturnPathDomain": {
                                            "type": "string"
                                        },
                                        "ReturnPathDomainCNAMEValue": {
                                            "type": "string"
                                        },
                                        "ReturnPathDomainVerified": {
                                            "type": "boolean"
                                        },
                                        "SPFHost": {
                                            "type": "string"
                                        },
                                        "SPFTextValue": {
                                            "type": "string"
                                        },
                                        "SPFVerified": {
                                            "type": "boolean"
                                        },
                                        "SafeToRemoveRevokedKeyFromDNS": {
                                            "type": "boolean"
                                        },
                                        "WeakDKIM": {
                                            "type": "boolean"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "An error was generated due to incorrect use of the API. See the Message associated with this response for more information.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "A Postmark API error.",
                                    "properties": {
                                        "ErrorCode": {
                                            "type": "integer"
                                        },
                                        "Message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Indicates an internal server error occurred."
                    }
                },
                "summary": "Request DNS Verification for SPF",
                "tags": [
                    "Sender Signatures API"
                ]
            }
        },
        "/servers": {
            "get": {
                "operationId": "listServers",
                "parameters": [
                    {
                        "description": "The token associated with the Account on which this request will operate.",
                        "in": "header",
                        "name": "X-Postmark-Account-Token",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Number of servers to return per request.",
                        "in": "query",
                        "name": "count",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "description": "Number of servers to skip.",
                        "in": "query",
                        "name": "offset",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "description": "Filter by a specific server name",
                        "in": "query",
                        "name": "name",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The results of listing servers.",
                                    "properties": {
                                        "Servers": {
                                            "items": {
                                                "description": "",
                                                "properties": {
                                                    "ApiTokens": {
                                                        "items": {
                                                            "type": "string"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "BounceHookUrl": {
                                                        "type": "string"
                                                    },
                                                    "ClickHookUrl": {
                                                        "type": "string"
                                                    },
                                                    "Color": {
                                                        "type": "string"
                                                    },
                                                    "DeliveryHookUrl": {
                                                        "type": "string"
                                                    },
                                                    "ID": {
                                                        "type": "integer"
                                                    },
                                                    "InboundAddress": {
                                                        "type": "string"
                                                    },
                                                    "InboundDomain": {
                                                        "type": "string"
                                                    },
                                                    "InboundHash": {
                                                        "type": "string"
                                                    },
                                                    "InboundHookUrl": {
                                                        "type": "string"
                                                    },
                                                    "InboundSpamThreshold": {
                                                        "type": "integer"
                                                    },
                                                    "Name": {
                                                        "type": "string"
                                                    },
                                                    "OpenHookUrl": {
                                                        "type": "string"
                                                    },
                                                    "PostFirstOpenOnly": {
                                                        "type": "boolean"
                                                    },
                                                    "RawEmailEnabled": {
                                                        "type": "boolean"
                                                    },
                                                    "ServerLink": {
                                                        "type": "string"
                                                    },
                                                    "SmtpApiActivated": {
                                                        "type": "boolean"
                                                    },
                                                    "TrackLinks": {
                                                        "enum": [
                                                            "None",
                                                            "HtmlAndTextTracking",
                                                            "HtmlOnlyTracking",
                                                            "TextOnlyTracking"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "TrackOpens": {
                                                        "type": "boolean"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "TotalCount": {
                                            "type": "integer"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "An error was generated due to incorrect use of the API. See the Message associated with this response for more information.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "A Postmark API error.",
                                    "properties": {
                                        "ErrorCode": {
                                            "type": "integer"
                                        },
                                        "Message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Indicates an internal server error occurred."
                    }
                },
                "summary": "List servers",
                "tags": [
                    "Server Management API"
                ]
            },
            "post": {
                "operationId": "createServer",
                "parameters": [
                    {
                        "description": "The token associated with the Account on which this request will operate.",
                        "in": "header",
                        "name": "X-Postmark-Account-Token",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
[...]
